[submodule "frontend"]
	path = frontend
	url = https://github.com/elsheraey/personal-finance-web-challenge-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/elsheraey/personal-finance-web-challenge-backend
